@import url(http://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #333333;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
}

.page-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.page-header {
  display: block;
  width: 100%;
  height: 64px;
  background: #212121;
}
.page-header nav {
  display: block;
  float: right;
  margin: 20px 24px;
}
.page-header nav a {
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  text-decoration: none;
  margin-right: 12px;
  transition: color .2s linear;
}
.page-header nav a:hover {
  color: #2980b9;
}

.page-content {
  display: block;
  width: 100%;
  height: 100%;
}
.page-content .page-title {
  text-transform: uppercase;
  color: #eee;
  font-weight: 200;
  font-size: 24px;
  padding: 12px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container:before,
.container:after,
.playlist:before,
.playlist:after,
.video-infos-wrapper:before,
.video-infos-wrapper:after {
  content: "";
  display: table;
}

.container:after,
.playlist:after,
.video-infos-wrapper:after {
  clear: both;
}

.playlist {
  display: block;
}

.playlist-video {
  display: block;
  float: left;
  width: 100%;
  background: #212121;
  position: relative;
  overflow: hidden;
}
.playlist-video:hover img {
  opacity: 0.6;
  transform: scale(1.1);
}
.playlist-video:hover .playlist-video_title {
  transform: translate3D(0, -100px, 0);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.playlist-video img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity .3s, transform .3s;
  transition-timing-function: ease-in-out;
}

.playlist-video_title {
  display: block;
  width: 100%;
  font-size: 20px;
  color: #eee;
  text-align: center;
  position: absolute;
  transform: translate3D(0, 0, 0);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (min-width: 600px) {
  .playlist-video {
    max-width: 50%;
  }
}
@media (min-width: 900px) {
  .playlist-video {
    max-width: 33.33333%;
  }
}
@media (min-width: 1200px) {
  .playlist-video {
    width: 25%;
  }
}
.video-container {
  display: block;
  width: 100%;
  height: 600px;
}

.video-infos-wrapper {
  display: block;
  height: calc(100% - 630px);
  background: #212121;
}
.video-infos-wrapper .video-infos {
  max-width: 1200px;
  margin: 0 auto;
  color: #eee;
  padding: 20px 24px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.one-third-mobile,
.one-third-tablet,
.one-third-desktop,
.two-thirds-mobile,
.two-thirds-tablet,
.two-thirds-desktop,
.one-quarter-mobile,
.one-quarter-tablet,
.one-quarter-desktop,
.three-quarters-mobile,
.three-quarters-tablet,
.three-quarters-desktop,
.one-half-mobile,
.one-half-tablet,
.one-half-desktop,
.full-mobile,
.full-tablet,
.full-desktop {
  display: block;
  float: left;
}

.one-third-mobile {
  width: 33.33333%;
}

.two-thirds-mobile {
  width: 66.66667%;
}

.one-quarter-mobile {
  width: 25%;
}

.three-quarters-mobile {
  width: 75%;
}

.one-half-mobile {
  width: 50%;
}

.full-mobile {
  width: 100%;
}

@media (min-width: 640px) {
  .one-third-tablet {
    width: 33.33333%;
  }

  .two-thirds-tablet {
    width: 66.66667%;
  }

  .one-quarter-tablet {
    width: 25%;
  }

  .three-quarters-tablet {
    width: 75%;
  }

  .one-half-tablet {
    width: 50%;
  }

  .full-tablet {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .one-third-desktop {
    width: 33.33333%;
  }

  .two-thirds-desktop {
    width: 66.66667%;
  }

  .one-quarter-desktop {
    width: 25%;
  }

  .three-quarters-desktop {
    width: 75%;
  }

  .one-half-desktop {
    width: 50%;
  }

  .full-desktop {
    width: 100%;
  }
}
/*****************************************
Normal
******************************************/
.mp-player {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  outline: 0;
}
.mp-player:before, .mp-player:after {
  content: "";
  display: table;
}
.mp-player:after {
  clear: both;
}

.mp-bottom-bar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.mp-bottom-bar.show {
  opacity: 1;
}
.mp-bottom-bar .mp-progress {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
}
.mp-bottom-bar .mp-progress-times {
  font-size: 13px;
  vertical-align: top;
  white-space: nowrap;
  padding: 8px 12px 4px;
  line-height: 1.3;
  color: #ddd;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.mp-bottom-bar .mp-time-current {
  float: left;
}
.mp-bottom-bar .mp-time-duration {
  float: right;
}
.mp-bottom-bar .mp-progress-bar-all {
  position: relative;
}
.mp-bottom-bar .mp-progress-bar-all:hover .mp-handle-button {
  transform: scaleY(1);
}
.mp-bottom-bar .mp-progress-bar {
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 100px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  outline: none;
  cursor: pointer;
  z-index: 30;
}
.mp-bottom-bar .mp-controls {
  display: block;
  width: 100%;
  padding: 4px;
}
.mp-bottom-bar .mp-controls:before,
.mp-bottom-bar .mp-controls:after,
.mp-bottom-bar .mp-progress-times:before,
.mp-bottom-bar .mp-progress-times:after {
  content: "";
  display: table;
}
.mp-bottom-bar .mp-controls:after,
.mp-bottom-bar .mp-progress-times:after {
  clear: both;
}
.mp-bottom-bar .mp-controls-left {
  float: left;
  height: 100%;
}
.mp-bottom-bar .mp-controls-right {
  float: right;
  height: 100%;
}
.mp-bottom-bar .mp-play-progress,
.mp-bottom-bar .mp-load-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform-origin: 0 0;
}
.mp-bottom-bar .mp-load-progress {
  background: rgba(255, 255, 255, 0.4);
  z-index: 31;
}
.mp-bottom-bar .mp-play-progress {
  background: #3498db;
  z-index: 32;
}
.mp-bottom-bar .mp-handle-button {
  height: 16px;
  width: 16px;
  position: absolute;
  margin-top: -12px;
  margin-left: -8px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 35;
}
.mp-bottom-bar .mp-play-button,
.mp-bottom-bar .mp-mute-button,
.mp-bottom-bar .mp-fullscreen-button {
  opacity: .9;
  display: inline-block;
  transform-origin: center center;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
  overflow: hidden;
  border-radius: 2px;
  height: 100%;
  cursor: pointer;
  background: #3498db;
}
.mp-bottom-bar .mp-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 36px;
  height: 36px;
  position: relative;
}
.mp-bottom-bar .mp-button:hover {
  background: #3498db;
}
.mp-bottom-bar .mp-button:focus,
.mp-bottom-bar .mp-button {
  outline: 0;
}
.mp-bottom-bar .mp-volume-panel {
  display: inline-block;
  width: 0;
  height: 36px;
  margin-right: 0;
  outline: 0;
  cursor: pointer;
  position: relative;
  transition: margin .2s, width .2s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.mp-bottom-bar .mp-volume-panel.open {
  width: 64px;
  margin-left: 12px;
}
.mp-bottom-bar .mp-volume-slider {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.mp-bottom-bar .mp-volume-slider-handle {
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  background: #fff;
}
.mp-bottom-bar .mp-volume-slider-handle:before {
  left: -58px;
  background: #fff;
}
.mp-bottom-bar .mp-volume-slider-handle:before,
.mp-bottom-bar .mp-volume-slider-handle:after {
  content: '';
  display: block;
  height: 3px;
  width: 64px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
}
.mp-bottom-bar .mp-volume-slider-handle:after {
  background: rgba(255, 255, 255, 0.2);
}
.mp-bottom-bar .mp-tooltip {
  margin-bottom: 8px;
  padding: 5px 7.5px;
  background: #3498db;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  line-height: 1.3;
  position: absolute;
  bottom: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: transform .2s .1s, opacity .2s .1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
  z-index: 33;
}
.mp-bottom-bar .mp-tooltip.show {
  opacity: 1;
  transform: scale(1);
  transition: transform .2s .1s, opacity .2s .1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.mp-bottom-bar .mp-tooltip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  border-right: 4px solid transparent;
  border-top: 4px solid #3498db;
  border-left: 4px solid transparent;
  z-index: 33;
}

.mp-loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 50;
}
.mp-loading .circle {
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.mp-loading .circle:nth-child(odd) {
  animation: circle-1-animation .8s infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}
.mp-loading .circle:nth-child(even) {
  margin-left: 15px;
  margin-right: 15px;
  animation: circle-2-animation .8s infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}

@keyframes circle-1-animation {
  0%,
    100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.2);
    opacity: .2;
  }
}
@keyframes circle-2-animation {
  0%,
    100% {
    transform: scale(0.2);
    opacity: .2;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
/*****************************************
Hide cursor
******************************************/
.mp-player.hide-cursor, .mp-player.hide-cursor .mp-progress-bar, .mp-player.hide-cursor .mp-handle-button, .mp-player.hide-cursor .mp-play-button, .mp-player.hide-cursor .mp-mute-button, .mp-player.hide-cursor .mp-fullscreen-button, .mp-player.hide-cursor .mp-handle-button, .mp-player.hide-cursor .mp-volume-panel {
  cursor: none !important;
}

/*****************************************
Mini
******************************************/
.mp-player.mini .mp-bottom-bar {
  display: none !important;
}

.mp-player .mini-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 50;
}
.mp-player .mini-overlay .icon,
.mp-player .mini-overlay .close-button {
  position: absolute;
  opacity: 0;
  top: 0;
  opacity: 0;
}
.mp-player .mini-overlay .icon {
  left: 0;
  width: 100%;
  height: 100%;
}
.mp-player .mini-overlay .icon svg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #eee;
  width: 50%;
  height: 50%;
  position: absolute;
}
.mp-player .mini-overlay .close-button {
  right: 0;
  width: 24px;
  height: 24px;
}
.mp-player .mini-overlay .close-button svg {
  fill: #eee;
}
.mp-player .mini-overlay .close-button:hover {
  opacity: 1 !important;
}

.persistent-player {
  display: block;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(125, 125, 125, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.persistent-player.mini {
  display: block;
  top: auto;
  left: auto;
  position: fixed;
  transform: none;
  right: 24px;
  bottom: 20px;
  border: 1px solid rgba(125, 125, 125, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.persistent-player.mini:hover .close-button {
  opacity: .5;
}
.persistent-player.mini:hover .icon {
  opacity: 1;
}

/*****************************************
Common
******************************************/
.peter-blue-background-color {
  background: #3498db !important;
}

.svg-fill {
  fill: #fff;
}
